/* Import Roboto typeface */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 50px;
    background: #7abcff;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#7abcff), color-stop(44%, #60abf8), to(#4096ee));
    background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0);
    /* IE6-9 */
    font-family: 'Roboto', sans-serif;
}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.App {
    text-align: center;
}

.App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes App-logo-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wrapper {
    padding: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

#title {
    text-align: center;
    font-size: 3vw;
    font-weight: 800;
    opacity: 0.8;
    background: #4096ee;
    background: -webkit-gradient(linear, left top, right top, from(orange), to(violet));
    background: linear-gradient(to right, orange, violet);
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
}

.todoListMain .header {
    margin: 25px 0;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    width: 165px;
    opacity: 0.9;
    -webkit-transition: border 400ms ease-out;
    transition: border 400ms ease-out;
}

.todoListMain .header button {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 42px;
    font-size: 16px;
    color: #FFF;
    border: none;
    opacity: 0.8;
    background: rgb(43, 29, 232);
    background: -webkit-gradient(linear, left top, right top, from(rgba(43, 29, 232, 1)), to(rgba(238, 130, 238, 1)));
    background: linear-gradient(90deg, rgba(43, 29, 232, 1) 0%, rgba(238, 130, 238, 1) 100%);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.todoListMain .header button:hover::before,
.todoListMain .header button:focus::before,
.todoListMain .header button:active::before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.todoListMain .header button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 165, 0);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 165, 0, 1)), to(rgba(238, 130, 238, 1)));
    background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.todoListMain .header button:hover,
.todoListMain .header button:focus,
.todoListMain .header button:active {
    color: #FFF;
    cursor: pointer;
}

.todoListMain .theList {
    list-style: none;
    color: red;
    padding-left: 0;
    width: 250px;
}

.todoListMain .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
}

ul.theList {
    padding: 0;
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}


.theList li {
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    color: #333;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.theList li::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.theList li:hover {
    cursor: pointer;
    color: #FFF;
}

.theList li:hover::before,
.theList li:focus::before,
.theList li:active::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}